/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
  border-radius: 100px;
}

body {
	/* Dark theme */
	color: #fff;
	background-color: #121212;
}

/* Streaming embed links
–––––––––––––––––––––––––––––––––––––––––––––––––– */ 
#content {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: #fff;
}
.album-cover {    
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 0 auto;
}
.platforms-list__container { 
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
}
.platform-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-evenly;
    height: 289px;
    padding: 10px;	
}
.music-link__container a {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.music-link__logo {
    max-width: 160px;
    width: 40%;
}
.music-link__button {
    width: 35%;
    padding: 0;
    font-size: 60%;
    line-height: 0px;
    height: 5vw;
    max-height: 23px;
    margin: 10px auto;
}


/* Responsive video
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }



/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* .handwritten { font-family: 'Amatic SC', 'Arial Narrow'; filter: opacity(0.1);} */
.handwritten { font-family: Courgette, 'Arial Narrow', sans-serif; }
/* filter: opacity(0.1);} */

.maintitle { 
    margin-top: 150px;
    font-weight: 700;
    font-size: 11.5vw;
    background: rgb(0 0 0 / 33%);
  }
	
/* prevent flash of unstyled text */
	
/* .handwritten {filter: opacity(0.1); }	*/
.showMe {
  filter: opacity(1) !important;
  transition: filter 878ms ease-in;
}


/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
  padding: 4rem 0 3rem; 
  text-align: center;
}
.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}
h3.section-heading {
  font-size: 8.5vw;
}


/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.hero {
  background-image: url("../images/sarah-silas-tango.jpg");
  background-image: image-set(
    url("../images/sarah-silas-tango.webp") type("image/webp"), 
    url("../images/sarah-silas-tango.jpg") type("image/jpeg")
  );
  background-image: -webkit-image-set(
    url("../images/sarah-silas-tango.webp") type("image/webp"), 
    url("../images/sarah-silas-tango.jpg") type("image/jpeg")
  );
  background-size: cover;
  color: #fff;
  padding-bottom: 5rem;
  background-position-x: 50%;
}


/* About
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.about .section-description {text-align: justify; }


/* Hide songkick branding */
#powered {
  display: none;
}

.section-description.quote {
  font-size: 1.6rem;
  font-style: italic;
  line-height: initial;
  margin: 4vw auto 6vw;
}
.quoteauthor {
  font-size: 1.1rem;
  font-style: normal;
}

/* Responsive stuff
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Bigger than 550 */
@media (min-width: 550px) {
  .section {
    /* padding: 12rem 0 11rem; */
  }
  .hero {
    padding-bottom: 12rem;
    /* text-align: left; */
    height: 305px;
  }

  .section-description.quote {
    font-size: 3.7vw;
  }
  .quoteauthor {
    font-size: 2.3vw;
  }
}

/* Bigger than 849 */
@media (min-width: 850px) {
  .hero {
    height: 190px;
    padding: 16rem 0 14rem;
  }
  h3.section-heading {
    font-size: 5vw;
  }
  .section-description {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  .section-description.quote {
    font-size: 2.8rem;
    margin: 3rem auto 3.6rem;
  }
  .quoteauthor {
    font-size: 1.4rem;
  }
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
  .section {
    /* padding: 20rem 0 19rem; */
  }
  .hero {
    padding: 22rem 0;
  }
}

/* Bigger than 1390 */
@media (min-width: 1390px) {
  .maintitle { font-size: 12rem; }
}

.hero .container {
  width: 100%; 
  max-width: 100%;
}
