/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
  border-radius: 100px;
}

/* Responsive video
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }



/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.handwritten { font-family: 'Amatic SC', cursive;}
.maintitle { 
    font-weight: 700;
    text-transform: uppercase; }
	
/* prevent flash of unstyled text */	
.row {filter: opacity(0); }	
.showMe {
  filter: opacity(1) !important;
  transition: filter 878ms ease-in;
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
  padding: 4rem 0 3rem; 
  text-align: center;
}
.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}

/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.hero {
  background-image: url('../images/lily-home-banner.jpg');
  background-size: cover;
  color: #fff;
  padding-bottom: 5rem;
}

.phones {
  position: relative;
}
.phone {
  position: relative;
  max-width: 80%;
  margin: 3rem auto -12rem;
}
.phone + .phone {
  display: none;
}

/* About
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.about .section-description {text-align: justify; }

/* Bigger than 550 */
@media (min-width: 550px) {
  .section {
    /* padding: 12rem 0 11rem; */
  }
  .hero {
    padding-bottom: 12rem;
    /* text-align: left; */
    height: 305px;
  }
  .phone {
    position: absolute;
    top: -7rem;
    right: 3rem;
    max-height: 362px;
    z-index: 3;
  }
  .phone + .phone {
    top: -6rem;
    display: block;
    max-width: 73.8%;
    right: 0;
    z-index: 2;
    max-height: 338px;
  }
  .hero-heading {
    font-size: 2.4rem;
  }
}

/* Bigger than 750 */
@media (min-width: 626px) {
  .hero {
    height: 190px;
  }
  .hero-heading {
    font-size: 2.6rem;
  }
  .section {
    /* padding: 14rem 0 15rem; */
  }
  .hero {
    padding: 16rem 0 14rem;
  }
  .section-description {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .phone {
    top: -14rem;
    right: 5rem;
    max-height: 510px;
  }
  .phone + .phone {
    top: -12rem;
    max-height: 472px;
  }
  .categories {
    padding: 15rem 0 8rem;
  }
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
  .section {
    /* padding: 20rem 0 19rem; */
  }
  .hero {
    padding: 22rem 0;
  }
  .hero-heading {
    font-size: 3.0rem;
  }
  .phone {
    top: -16rem;
    max-height: 615px;
  }
  .phone + .phone {
    top: -14rem;
    max-height: 570px;
  }
}